@charset "UTF-8";

:root{
    --cor0: #014040;
    --cor1: #02735E;
    --cor2: #03A678;
    --cor3: #F27405;
    --cor4: #731702;
    --fonte0: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor0);
}




